<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body>
		<div class="container" ng-app="chatApplication" ng-controller="chatController">
			<div class="page-header">
				<h1>
					Chat page
					<small th:if="${#authorization.expression('isAuthenticated()')}">
						logged in as <span th:text="${#authentication.name}" class="label label-primary"></span>
					</small>
					<small th:if="${#authorization.expression('!isAuthenticated()')}">
						<a href="/logIn" th:href="@{/logIn}">log in</a>
					</small>
				</h1>
			</div>
			<div class="row">
				<div class="col-md-2">
					<ul>
						<li ng-repeat="user in users">{{user}}</li>
					</ul>
				</div>
				<div class="col-md-10">
					<ul>
						<li ng-repeat="message in messages">
							{{message.sender}} : {{message.content}}
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Enter a message..." ng-model="message.content" />
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="sendMessage()">Send</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>